@charset "UTF-8";
body {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  background-color: #111;
}

body.is-open {
  overflow: hidden;
}

.u-desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  .u-desktop {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .u-mobile {
    display: none;
  }
}

/* リキッドレイアウト対応 */
html {
  font-size: 16px;
}
@media (max-width: 375px) {
  html {
    font-size: 4.2666666667vw;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 1.4545454545vw;
  }
}
@media (min-width: 1100px) {
  html {
    font-size: 16px;
  }
}

/* pcの電話番号発信対応 */
@media screen and (min-width: 768px) {
  a[href^="tel:"] {
    pointer-events: none;
  }
}

/* ホバー */
a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.top-blog__card-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
  gap: 1.5625rem;
  padding-top: 17px;
  padding-top: 1.0625rem;
  margin-top: 46.5px;
  margin-top: 2.90625rem;
}
@media screen and (min-width: 768px) {
  .top-blog__card-list {
    padding-top: 0;
    grid-template-columns: repeat(3, 1fr);
  }
}

.top-blog-card__title,
.top-blog-card__text,
.top-blog-card__date {
  color: #333;
}

.top-blog-card__title {
  font-weight: 500;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 2;
  letter-spacing: 0.05em;
}

.top-blog-card__text,
.top-blog-card__category,
.top-blog-card__date {
  font-weight: 400;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.85714;
  letter-spacing: 0.06em;
}

.top-blog-card__info {
  padding: 0 24px;
  padding: 0 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-blog-card__category {
  color: #111;
  background-color: #FFEA2E;
  padding: 6px 5px;
  padding: 0.375rem 0.3125rem;
  line-height: 1;
  position: absolute;
  bottom: 15px;
  bottom: 0.9375rem;
  left: 24px;
  left: 1.5rem;
}

.top-blog-card__date {
  position: absolute;
  bottom: 15px;
  bottom: 0.9375rem;
  right: 24px;
  right: 1.5rem;
}

.top-blog-card__body {
  padding: 4px 24px 49px;
  padding: 0.25rem 1.5rem 3.0625rem;
}

.top-blog-card__body:hover {
  background-color: #333;
}

.top-blog-card:hover :not(.top-blog-card__category):not(.top-blog__update):not(.top-blog__update > p) {
  background-color: #333;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #fff;
}

.top-blog-card__text {
  padding-top: 4px;
  padding-top: 0.25rem;
}

.top-blog-card {
  position: relative;
  display: block;
  background-color: #fff;
  max-width: 600px;
  max-width: 37.5rem;
  margin: 0 auto;
}

.top-blog-card__img {
  aspect-ratio: 350/233;
}

.top-blog-card__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.button {
  position: relative;
  overflow: hidden;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 400;
  width: 335px;
  width: 20.9375rem;
  text-transform: uppercase;
  border: 1px solid #fff;
  background: #333;
  line-height: 1;
  padding: 14px 0;
  padding: 0.875rem 0;
  letter-spacing: 0.1em;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}
@media screen and (min-width: 768px) {
  .button {
    font-size: 1rem;
    line-height: 1.2;
    width: 22.5rem;
    padding: 1.1875rem 0;
  }
}

.button span {
  position: relative;
  z-index: 3;
  color: #fff;
}

.button:hover span {
  color: #333;
}

.button-animation:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background: #fff;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.8, 0, 0.2, 1) 0s;
  transition: -webkit-transform 0.6s cubic-bezier(0.8, 0, 0.2, 1) 0s;
  transition: transform 0.6s cubic-bezier(0.8, 0, 0.2, 1) 0s;
  transition: transform 0.6s cubic-bezier(0.8, 0, 0.2, 1) 0s, -webkit-transform 0.6s cubic-bezier(0.8, 0, 0.2, 1) 0s;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: right top;
          transform-origin: right top;
}

.button-animation:hover:before {
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.footer-nav {
  text-align: center;
  margin-top: 8px;
  margin-top: 0.5rem;
}
@media screen and (min-width: 768px) {
  .footer-nav {
    margin-left: auto;
  }
}

.footer-nav__items {
  display: inline-grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 12px;
  gap: 0.75rem;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .footer-nav__items {
    gap: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer-nav__item {
  width: inherit;
}
@media screen and (min-width: 768px) {
  .footer-nav__item {
    width: unset;
  }
}

.footer-nav__item a {
  position: relative;
  display: block;
  width: 100%;
  color: #fff;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.075em;
}

.footer-nav__item a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  bottom: -0.3125rem;
  left: 10%;
  width: 80%;
  height: 1px;
  height: 0.0625rem;
  background: #FFEA2E;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: center top;
          transform-origin: center top;
}

.footer-nav__item.current a::after,
.footer-nav__item a:hover::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.footer {
  background-color: #111;
}

.footer__layout {
  margin-top: 48px;
  margin-top: 3rem;
  padding-bottom: 70px;
  padding-bottom: 4.375rem;
}
@media screen and (min-width: 768px) {
  .footer__layout {
    margin-top: 2rem;
    padding-bottom: 1rem;
  }
}

.footer__inner {
  padding: 0;
  margin: auto;
}
@media screen and (min-width: 768px) {
  .footer__inner {
    padding: 0 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer__logo {
  width: 70px;
  width: 4.375rem;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .footer__logo {
    margin: 0;
  }
}

.footer__copyright {
  text-align: center;
  margin-top: 32px;
  margin-top: 2rem;
  color: #fff;
  font-size: 11px;
  font-size: 0.6875rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.10909091em;
}
@media screen and (min-width: 768px) {
  .footer__copyright {
    margin-top: 5.1875rem;
    font-size: 0.9375rem;
    letter-spacing: 0.18em;
  }
}

#footer__page-top a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  width: 45px;
  width: 2.8125rem;
  height: 45px;
  height: 2.8125rem;
  color: #fff;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#footer__page-top a:hover {
  background: #333;
}

#footer__page-top {
  position: fixed;
  right: 20px;
  right: 1.25rem;
  bottom: 52px;
  bottom: 3.25rem;
  z-index: 2;
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}
@media screen and (min-width: 768px) {
  #footer__page-top {
    right: 1.9375rem;
    bottom: 2rem;
  }
}

#footer__page-top.UpMove {
  -webkit-animation: UpAnime 0.5s forwards;
          animation: UpAnime 0.5s forwards;
}

@-webkit-keyframes UpAnime {
  from {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes UpAnime {
  from {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
#footer__page-top.DownMove {
  -webkit-animation: DownAnime 0.5s forwards;
          animation: DownAnime 0.5s forwards;
}

@-webkit-keyframes DownAnime {
  from {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
}

@keyframes DownAnime {
  from {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
}
.footer__page-top--arrow {
  height: 20px;
  height: 1.25rem;
  width: 20px;
  width: 1.25rem;
  border-top: 2px solid #333;
  border-top: 0.125rem solid #333;
  border-right: 2px solid #333;
  border-right: 0.125rem solid #333;
  -webkit-transform: translateY(20%) rotate(-45deg);
          transform: translateY(20%) rotate(-45deg);
}

#footer__page-top a:hover .footer__page-top--arrow {
  border-top: 2px solid #fff;
  border-top: 0.125rem solid #fff;
  border-right: 2px solid #fff;
  border-right: 0.125rem solid #fff;
}

.hamburger {
  z-index: 9999;
}
@media screen and (min-width: 768px) {
  .hamburger {
    display: none;
  }
}

.hamburger span {
  position: relative;
  display: block;
  height: 2px;
  height: 0.125rem;
  width: 24px;
  width: 1.5rem;
  background: #fff;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}

.hamburger span:nth-child(1) {
  top: 0;
}

.hamburger span:nth-child(2) {
  margin: 4px 0;
  margin: 0.25rem 0;
}

.hamburger span:nth-child(3) {
  top: 0;
}

/*is-OPEN時の動き*/
.hamburger.is-open span:nth-child(1) {
  top: 5px;
  top: 0.3125rem;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.hamburger.is-open span:nth-child(2) {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0;
}

.hamburger.is-open span:nth-child(3) {
  top: -7px;
  top: -0.4375rem;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header__layout {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.header {
  background-color: rgba(17, 17, 17, .5);
  height: 50px;
  height: 3.125rem;
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header.headerColorScroll {
  background-color: #111;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__inner {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 22px;
  padding: 0 1.375rem;
}
@media screen and (min-width: 768px) {
  .header__inner {
    padding-left: 2rem;
    padding-right: 0;
  }
}

.logo {
  width: 70px;
  width: 4.375rem;
  position: relative;
  z-index: 9999;
}
@media screen and (min-width: 768px) {
  .logo {
    width: 5.9375rem;
  }
}

.sp-nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #111;
  width: 100%;
  height: 100vh;
  z-index: 8888;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}
@media screen and (min-width: 768px) {
  .sp-nav {
    display: none;
  }
}

.sp-nav.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.sp-nav__items {
  padding-top: 160px;
  padding-top: 10rem;
  padding-bottom: 208px;
  padding-bottom: 13rem;
  height: 100vh;
  overflow: scroll;
}

.sp-nav__item a {
  display: block;
  width: 100%;
  padding-top: 16px;
  padding-top: 1rem;
  padding-bottom: 16px;
  padding-bottom: 1rem;
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
}

.pc-nav {
  height: inherit;
  display: none;
}
@media screen and (min-width: 768px) {
  .pc-nav {
    display: block;
  }
}

.pc-nav__items {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pc-nav__item {
  height: inherit;
}

.pc-nav__item a {
  position: relative;
  height: inherit;
  color: #fff;
  display: grid;
  place-items: center;
  padding: 0 20px;
  padding: 0 1.25rem;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
}

.pc-nav__item:not(:last-child) a::after {
  content: "";
  position: absolute;
  bottom: 8px;
  bottom: 0.5rem;
  left: 10%;
  width: 80%;
  height: 1px;
  height: 0.0625rem;
  background: #FFEA2E;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: center top;
          transform-origin: center top;
}

.pc-nav__item.current a::after,
.pc-nav__item a:hover::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.pc-nav__item.pc-nav__item--white {
  margin-left: 16px;
  margin-left: 1rem;
}

.pc-nav__item.pc-nav__item--white a {
  background-color: #fff;
  color: #333;
  padding: 0 37px;
  padding: 0 2.3125rem;
}

.pc-nav__item.pc-nav__item--white a:hover {
  background-color: #333;
  color: #fff;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}

.inner {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .inner {
    max-width: 1150px;
    padding-right: 25px;
    padding-left: 25px;
  }
}

.mainView {
  position: relative;
}

.mainView__titles {
  position: absolute;
  top: 45%;
  color: white;
  text-align: center;
  width: 100%;
  background: transparent;
  z-index: 10;
}

.mainView__mainTitle,
.mainView__subTitle {
  display: block;
}

.mainView__mainTitle {
  font-size: 28px;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.01785714em;
}
@media screen and (min-width: 768px) {
  .mainView__mainTitle {
    font-size: 3.125rem;
  }
}

.mainView__subTitle {
  margin-top: 24px;
  margin-top: 1.5rem;
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.025em;
}
@media screen and (min-width: 768px) {
  .mainView__subTitle {
    font-size: 1.5625rem;
    line-height: 1.5;
  }
}

@-webkit-keyframes zoomUp {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
}

@keyframes zoomUp {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
}
.mainView__swiper-slide.swiper-slide-active .mainView__slide-img.slide-img,
.mainView__swiper-slide.swiper-slide-duplicate-active .mainView__slide-img.slide-img,
.mainView__swiper-slide.swiper-slide-prev .mainView__slide-img.slide-img {
  -webkit-animation: zoomUp 10s linear 0s 1 normal both;
          animation: zoomUp 10s linear 0s 1 normal both;
}

.mainView__swiper-container {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  min-height: 450px;
  min-height: 28.125rem;
}
@media screen and (min-width: 768px) {
  .mainView__swiper-container {
    min-height: 37.5rem;
  }
}

.mainView__swiper-wrapper {
  height: inherit;
}

.mainView__swiper-slide {
  height: 100vh;
  opacity: 0;
  overflow: hidden;
  position: relative;
}

.mainView__swiper-slide::before {
  content: "";
  position: absolute;
  background: rgba(17, 17, 17, .2);
  bottom: 0;
  height: 100vh;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}

.mainView__slide-img {
  height: inherit;
}

.mainView__slide-img img {
  height: inherit;
  width: 100vw;
  -o-object-fit: cover;
     object-fit: cover;
}

.section-title__container {
  position: relative;
}

.section-title {
  text-align: center;
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  font-size: 1.25rem;
  letter-spacing: 0.1em;
  line-height: 1;
}
@media screen and (min-width: 768px) {
  .section-title {
    font-size: 1.875rem;
    font-weight: 400;
    letter-spacing: 0.01em;
  }
}

.section-subtitle {
  display: block;
  color: rgba(249, 248, 113, .27);
  font-family: "Noto Serif JP", serif;
  font-weight: 400;
  text-transform: capitalize;
  font-size: 50px;
  font-size: 3.125rem;
  letter-spacing: 0.04em;
  line-height: 1;
}
@media screen and (min-width: 768px) {
  .section-subtitle {
    font-size: 6.875rem;
    letter-spacing: 0.01818182em;
    line-height: 1.4363636364;
  }
}

.section-subtitle__position {
  position: absolute;
  top: -209%;
  left: 20%;
  z-index: -2;
}
@media screen and (min-width: 768px) {
  .section-subtitle__position {
    top: -158%;
    left: 0;
  }
}

.section-subtitle__position--reverse {
  position: absolute;
  top: -213%;
  right: 0;
  left: 0;
  z-index: -2;
}
@media screen and (min-width: 768px) {
  .section-subtitle__position--reverse {
    top: -205%;
    left: unset;
  }
}

.top-blog__layout {
  margin-top: 102px;
  margin-top: 6.375rem;
}
@media screen and (min-width: 768px) {
  .top-blog__layout {
    margin-top: 13.5rem;
  }
}

.top-blog__update {
  position: absolute;
  top: -15px;
  top: -0.9375rem;
  left: -15px;
  left: -0.9375rem;
  background-color: #FFBA6A;
  border-radius: 3.125rem;
  font-size: 16px;
  font-size: 1rem;
  color: #333;
  letter-spacing: 0.1em;
  width: 60px;
  width: 3.75rem;
  height: 60px;
  height: 3.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .top-blog__update {
    top: -6%;
    left: -4%;
  }
}

.top-blog__button {
  margin-top: 24px;
  margin-top: 1.5rem;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .top-blog__button {
    margin-top: 2.875rem;
    text-align: center;
  }
}

.top-contact {
  background-color: #3D3D3D;
}

.top-contact__layout {
  margin-top: 106px;
  margin-top: 6.625rem;
  padding-top: 72px;
  padding-top: 4.5rem;
  padding-bottom: 66px;
  padding-bottom: 4.125rem;
}
@media screen and (min-width: 768px) {
  .top-contact__layout {
    margin-top: 8.9375rem;
    padding-top: 9.375rem;
    padding-bottom: 8.9375rem;
  }
}

.section-subtitle__position--contact {
  z-index: 2;
  left: 21%;
  letter-spacing: 0.025em;
}
@media screen and (min-width: 768px) {
  .section-subtitle__position--contact {
    top: -313%;
    left: 0;
  }
}

.top-contact__text-box {
  margin-top: 20px;
  margin-top: 1.25rem;
}
@media screen and (min-width: 768px) {
  .top-contact__text-box {
    margin-top: 1.625rem;
    text-align: center;
  }
}

.top-contact__text {
  color: #fff;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.125em;
}

.top-contact__button {
  margin-top: 50px;
  margin-top: 3.125rem;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .top-contact__button {
    margin-top: 3.875rem;
  }
}

.top-contact__button .button {
  font-size: 16px;
  font-size: 1rem;
  letter-spacing: 0.125em;
}
.top-content {
  position: relative;
}

.top-content::before {
  content: "";
  width: 100%;
  height: 678px;
  height: 42.375rem;
  position: absolute;
  top: -38px;
  top: -2.375rem;
  left: 0;
  z-index: -999;
  background-image: linear-gradient(to right top, transparent 49.95%, #F9F871 50%, #F9F871 calc(50.05% + 1px), transparent calc(50.1% + 1px));
}
@media screen and (min-width: 768px) {
  .top-content::before {
    width: 94.6875%;
    height: 75.75rem;
    top: -7rem;
    left: 0;
  }
}

.top-content__layout {
  margin-top: 152px;
  margin-top: 9.5rem;
}
@media screen and (min-width: 768px) {
  .top-content__layout {
    margin-top: 12.1875rem;
  }
}

.top-content__wrapper {
  overflow: hidden;
  margin-top: 47px;
  margin-top: 2.9375rem;
}

.top-content__lists {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0;
  width: 100vw;
  margin: 0 calc(50% - 50vw);
  max-width: 100%;
  padding-top: 4px;
  padding-top: 0.25rem;
}
@media screen and (min-width: 768px) {
  .top-content__lists {
    grid-template-columns: repeat(4, 1fr);
    padding-top: 0;
  }
}

.top-content__list {
  max-width: 50vw;
  width: 100%;
  margin: 0 auto;
  aspect-ratio: 188/168;
  position: relative;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .top-content__list {
    max-width: 25vw;
    aspect-ratio: 1/1;
  }
}

.top-content__link {
  position: relative;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 20px;
  font-size: 1.25rem;
  letter-spacing: 0.1em;
}
@media screen and (min-width: 768px) {
  .top-content__link {
    font-size: 1.5625rem;
    letter-spacing: 0.02em;
    line-height: 1.5;
  }
}

a.top-content__link:hover::before {
  content: "";
  position: absolute;
  background-color: rgba(255, 255, 255, .6);
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s; /* 透明度の変化に対してtransitionを設定 */
  z-index: 1;
}

.top-content__list:hover a.top-content__link::before {
  opacity: 1; /* hover時に透明度を変化させる */
  -webkit-animation: fade-in 0.3s;
          animation: fade-in 0.3s; /* アニメーションの設定 */
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.top-content__list--background01 {
  background-image: url(../images/top/content01.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.top-content__list--background02 {
  background-image: url(../images/top/content02.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.top-content__list--background03 {
  background-image: url(../images/top/content03.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.top-content__list--background04 {
  background-image: url(../images/top/content04.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.top-content__image {
  width: 100%;
  height: 100%;
}

.top-content__text {
  position: absolute;
}

.top-news__layout {
  margin-top: 17px;
  margin-top: 1.0625rem;
}
@media screen and (min-width: 768px) {
  .top-news__layout {
    margin-top: 1.875rem;
  }
}

.top-news__inner {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .top-news__inner {
    max-width: 68.375rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

.top-news__contents {
  max-width: 1082px;
  max-width: 67.625rem;
}

.top-news__content + .top-news__content {
  margin-top: 32px;
  margin-top: 2rem;
}

@media screen and (min-width: 768px) {
  .top-news__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.top-news__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.top-news__date,
.top-news__category {
  display: inline-block;
  line-height: 1;
}

.top-news__date {
  font-size: 16px;
  font-size: 1rem;
}

.top-news__category {
  white-space: nowrap;
  margin-left: 32px;
  margin-left: 2rem;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.4285714286;
  padding: 5px 21px;
  padding: 0.3125rem 1.3125rem;
  border: 1px solid #fff;
}
@media screen and (min-width: 768px) {
  .top-news__category {
    margin-left: 3rem;
  }
}

.top-news__block {
  margin-top: 8px;
  margin-top: 0.5rem;
}
@media screen and (min-width: 768px) {
  .top-news__block {
    margin-top: 0;
    margin-left: 3.8125rem;
    min-width: 35.75rem;
  }
}

.top-news__text {
  position: relative;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.4375;
  color: #fff;
}
@media screen and (min-width: 768px) {
  .top-news__text {
    line-height: 1.5;
  }
}

.top-news__text::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  height: 0.0625rem;
  background: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: center top;
          transform-origin: center top;
}

.top-news__text:hover::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.top-news__button {
  margin-top: 12px;
  margin-top: 0.75rem;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .top-news__button {
    margin-top: 0.125rem;
    margin-left: 3rem;
  }
}

.top-news__button .button {
  position: relative;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .top-news__button .button {
    font-size: 1rem;
    font-weight: 500;
    color: #000;
    width: 8.5rem;
    background: #fff;
    padding: 0.3125rem 1.6875rem;
    white-space: nowrap;
    letter-spacing: 0.04em;
  }
}

.top-news__button .button span {
  position: relative;
  z-index: 3;
  color: #fff;
}
@media screen and (min-width: 768px) {
  .top-news__button .button span {
    color: #000;
  }
}

.top-news__button .button:hover {
  border: 1px solid #333;
  border: 0.0625rem solid #333;
}

.top-news__button .button:hover span {
  color: #fff;
}

.button-animation--top-news:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background: #333;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.8, 0, 0.2, 1) 0s;
  transition: -webkit-transform 0.6s cubic-bezier(0.8, 0, 0.2, 1) 0s;
  transition: transform 0.6s cubic-bezier(0.8, 0, 0.2, 1) 0s;
  transition: transform 0.6s cubic-bezier(0.8, 0, 0.2, 1) 0s, -webkit-transform 0.6s cubic-bezier(0.8, 0, 0.2, 1) 0s;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: right top;
          transform-origin: right top;
}

.button-animation--top-news:hover:before {
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.top-overview {
  position: relative;
}

.top-overview::before {
  position: absolute;
  z-index: -999;
  content: "";
  background-image: linear-gradient(to left top, transparent 49.95%, #F9F871 50%, #F9F871 calc(50.05% + 1px), transparent calc(50.1% + 1px));
  width: 100%;
  height: 1398px;
  height: 87.375rem;
  top: -127px;
  top: -7.9375rem;
  left: -140px;
  left: -8.75rem;
}
@media screen and (min-width: 768px) {
  .top-overview::before {
    width: 94.6875%;
    height: 75.6875rem;
    top: -13rem;
    left: 0;
  }
}

.top-overview__layout {
  margin-top: 126px;
  margin-top: 7.875rem;
}
@media screen and (min-width: 768px) {
  .top-overview__layout {
    margin-top: 12.875rem;
  }
}

.section-subtitle__position--overview {
  left: 13.5%;
}
@media screen and (min-width: 768px) {
  .section-subtitle__position--overview {
    top: -185%;
    left: 0;
  }
}

.top-overview__wrapper {
  overflow: hidden;
  margin-top: 44px;
  margin-top: 2.75rem;
}

.top-overview__background {
  margin: 0 calc(50% - 50vw);
  width: 100vw;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(30%, transparent), color-stop(30%, #333), to(#333));
  background: linear-gradient(180deg, transparent 0%, transparent 30%, #333 30%, #333 100%);
}
@media screen and (min-width: 768px) {
  .top-overview__background {
    padding: 80px 0;
    margin-top: -0.375rem;
    background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(30%, transparent), color-stop(30%, #333), to(#333));
    background: linear-gradient(90deg, transparent 0%, transparent 30%, #333 30%, #333 100%);
  }
}

.top-overview__background--reverse {
  margin: 0 calc(50% - 50vw);
  width: 100vw;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(30%, transparent), color-stop(30%, #333), to(#333));
  background: linear-gradient(180deg, transparent 0%, transparent 30%, #333 30%, #333 100%);
}
@media screen and (min-width: 768px) {
  .top-overview__background--reverse {
    padding: 4.5rem 0 5.375rem;
    background: -webkit-gradient(linear, left top, right top, from(#333), color-stop(70%, #333), color-stop(70%, transparent), to(transparent));
    background: linear-gradient(90deg, #333 0%, #333 70%, transparent 70%, transparent 100%);
  }
}

@media screen and (min-width: 768px) {
  .top-overview__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 3.1%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media screen and (min-width: 768px) {
  .top-overview__content--reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

.top-overview__images {
  aspect-ratio: 375/261;
  width: 100%;
  width: 100vw;
  margin-left: calc(50% - 50vw);
  padding-top: 4px;
  padding-top: 0.25rem;
}
@media screen and (min-width: 768px) {
  .top-overview__images {
    padding-top: unset;
    aspect-ratio: 557/389;
    width: 50.6%;
    margin-left: unset;
  }
}

.top-overview__images img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 600px;
  max-width: 37.5rem;
  margin: 0 auto;
  aspect-ratio: 557/389;
}
@media screen and (min-width: 768px) {
  .top-overview__images img {
    aspect-ratio: 375/261;
  }
}

.top-overview__textArea {
  padding: 30px 20px 20px;
  padding: 1.875rem 1.25rem 1.25rem;
  width: 100%;
  color: #fff;
  width: 100vw;
  margin-left: calc(50% - 50vw);
  text-align: center;
}
@media screen and (min-width: 768px) {
  .top-overview__textArea {
    padding: 0;
    padding-top: 2.625rem;
    width: 46.3%;
    margin: 0 auto;
    text-align: left;
  }
}

.textArea__mainTitle {
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.05em;
}
@media screen and (min-width: 768px) {
  .textArea__mainTitle {
    font-size: 1.5625rem;
    letter-spacing: 0.02em;
  }
}

.textArea__text {
  margin-top: 29px;
  margin-top: 1.8125rem;
  font-size: 16px;
  font-size: 1rem;
  text-align: left;
  line-height: 1.45;
  letter-spacing: 0.12em;
}
@media screen and (min-width: 768px) {
  .textArea__text {
    line-height: 2.19;
    margin-top: 2.6875rem;
    letter-spacing: 0.03em;
  }
}

.textArea__button {
  margin-top: 27px;
  margin-top: 1.6875rem;
}
@media screen and (min-width: 768px) {
  .textArea__button {
    margin-top: 3.125rem;
  }
}

.top-works__swiper-container {
  position: relative;
}

.top-works__swiper {
  width: 100%;
  height: 100%;
}

.top-works__swiper-wrapper {
  height: inherit;
}

.top-works__swiper-slide {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.top-works__swiper-slide::before {
  content: "";
  position: absolute;
  background: rgba(17, 17, 17, .2);
  bottom: 0;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}

.top-works__swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 600px;
  max-width: 37.5rem;
  margin: 0 auto;
  aspect-ratio: 557/389;
}
@media screen and (min-width: 768px) {
  .top-works__swiper-slide img {
    aspect-ratio: 375/261;
  }
}

.top-works__swiper-pagination .swiper-pagination-bullet {
  width: 8px;
  width: 0.5rem;
  height: 8px;
  height: 0.5rem;
  background-color: #F9F871;
}

.top-works__swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
  position: absolute;
  left: -2px;
  left: -0.125rem;
  bottom: -22px;
  bottom: -1.375rem;
}
@media screen and (min-width: 768px) {
  .top-works__swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
    left: -1.4375rem;
    bottom: -2rem;
  }
}

.top-works__swiper-pagination.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 6px;
  margin: 0 0.375rem;
}

.top-works__layout {
  margin-top: 87px;
  margin-top: 5.4375rem;
  padding-top: 40px;
  padding-top: 2.5rem;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .top-works__layout {
    margin-top: 11.5rem;
    padding-top: 1.25rem;
  }
}

.top-works__background {
  margin: 0 calc(50% - 50vw);
  margin-top: 51px;
  margin-top: 3.1875rem;
  width: 100vw;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(30%, transparent), color-stop(30%, #333), to(#333));
  background: linear-gradient(180deg, transparent 0%, transparent 30%, #333 30%, #333 100%);
}
@media screen and (min-width: 768px) {
  .top-works__background {
    padding: 80px 0;
    margin-top: 2.75rem;
    background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(30%, transparent), color-stop(30%, #333), to(#333));
    background: linear-gradient(90deg, transparent 0%, transparent 30%, #333 30%, #333 100%);
  }
}

.top-works__background--reverse {
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(30%, transparent), color-stop(30%, #333), to(#333));
  background: linear-gradient(180deg, transparent 0%, transparent 30%, #333 30%, #333 100%);
}
@media screen and (min-width: 768px) {
  .top-works__background--reverse {
    padding: 6.25rem 0;
    background: -webkit-gradient(linear, left top, right top, from(#333), color-stop(70%, #333), color-stop(70%, transparent), to(transparent));
    background: linear-gradient(90deg, #333 0%, #333 70%, transparent 70%, transparent 100%);
  }
}

@media screen and (min-width: 768px) {
  .top-works__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 3.1%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media screen and (min-width: 768px) {
  .top-works__content--reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

.top-works__images {
  aspect-ratio: 375/261;
  width: 100%;
  width: 100vw;
  margin-left: calc(50% - 50vw);
}
@media screen and (min-width: 768px) {
  .top-works__images {
    aspect-ratio: 557/389;
    width: 50.6%;
    margin-left: unset;
  }
}

.top-works__images img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.top-works__textArea {
  padding: 30px 20px 15px;
  padding: 1.875rem 1.25rem 0.9375rem;
  width: 100%;
  color: #fff;
  width: 100vw;
  margin-left: calc(50% - 50vw);
  text-align: center;
}
@media screen and (min-width: 768px) {
  .top-works__textArea {
    padding: 0;
    padding-top: 2.1875rem;
    width: 46.3%;
    margin: 0 auto;
    text-align: left;
  }
}

.textArea__mainTitle {
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.1em;
  text-indent: 1em;
}
@media screen and (min-width: 768px) {
  .textArea__mainTitle {
    font-size: 1.5625rem;
    letter-spacing: 0.02em;
    text-indent: 0;
  }
}

.textArea__text {
  margin-top: 27px;
  margin-top: 1.6875rem;
  font-size: 16px;
  font-size: 1rem;
  text-align: left;
  line-height: 1.45;
  letter-spacing: 0.12em;
}
@media screen and (min-width: 768px) {
  .textArea__text {
    line-height: 2.19;
    margin-top: 2.6875rem;
    letter-spacing: 0.03em;
  }
}

.textArea__button {
  margin-top: 27px;
  margin-top: 1.6875rem;
}
@media screen and (min-width: 768px) {
  .textArea__button {
    margin-top: 3rem;
  }
}
/*# sourceMappingURL=styles.css.map */
