@use 'global'as *;

.top-contact {
  background-color: $bg-gray;
}

.top-contact__layout {
  margin-top: rem(106);
  padding-top: rem(72);
  padding-bottom: rem(66);
  @include mq(md) {
    margin-top: rem(143);
    padding-top: rem(150);
    padding-bottom: rem(143);
  }
}

// .section-title__position--contact {
//   letter-spacing: 0.07em;
//   margin-bottom: rem(20);
//   @include mq(md) {
//     margin-bottom: rem(26);

//   }
// }

.section-subtitle__position--contact {
  z-index: 2;
  left: 21%;
  letter-spacing: 0.025em;
  @include mq(md) {
    top: -313%;
    left: 0;

  }
}

.top-contact__text-box {
  margin-top: rem(20);

  @include mq(md) {
    margin-top: rem(26);
    text-align: center;

  }
}

.top-contact__text {
  color: $white;
  font-size: rem(16);
  line-height: 1.5;
  letter-spacing: 0.125em;
}

.top-contact__button {
  margin-top: rem(50);
  text-align: center;
  @include mq(md) {
    margin-top: rem(62);

  }
}

.top-contact__button .button {
  font-size: rem(16);
  letter-spacing: 0.125em;
  @include mq(md) {

  }
}