@use 'global'as *;


.top-news__layout {
  padding-top: rem(17);

  @include mq(md) {
    padding-top: rem(30);

  }
}

.top-news__inner {
  width: 100%;

  @include mq(md) {
    max-width: rem(1094); //よしな値
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

.top-news__contents {
  max-width: rem(1082);
}

.top-news__content+.top-news__content {
  margin-top: rem(32);
}

.top-news__content {
  @include mq(md) {
    display: flex;
    align-items: center;
  }
}

.top-news__info {
  display: flex;
  align-items: center;
  color: #fff;
}

.top-news__date,
.top-news__category {
  display: inline-block;
  line-height: 1;
}

.top-news__date {
  font-size: rem(16);
}

.top-news__category {
  margin-left: rem(32);
  font-size: rem(14);
  line-height: calc(20 / 14);
  padding: rem(5) rem(21);
  border: 1px solid #fff;

  @include mq(md) {
    margin-left: rem(48);
  }
}

.top-news__block {
  margin-top: rem(14);

  @include mq(md) {
    margin-top: 0;
    margin-left: rem(61);
    // max-width: rem(572);
  }
}

.top-news__text {
  position: relative;
  font-size: rem(16);
  line-height: calc(23 / 16);
  color: #fff;

  @include mq(md) {
    line-height: 1.5;
  }
}

.top-news__text::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: rem(1);
  background: #fff;
  transition: all .3s;
  transform: scale(0, 1);
  transform-origin: center top;
}

.top-news__text:hover::after {
  transform: scale(1, 1);
}

.top-news__button {
  margin-top: rem(28);
  text-align: center;
  @include mq(md){
    margin-top: rem(2);
    margin-left: rem(48);
  }
}

.top-news__button .button {
  position: relative;
	overflow: hidden;
  @include mq(md){
    font-size: rem(16);
    font-weight: $medium;
    color: #000;
    width: rem(136);
    background: $white;
    padding: rem(5) rem(27);
    white-space: nowrap;
    letter-spacing: 0.04em;
  }
}

.top-news__button .button span {
  position: relative;
  z-index: 3;
  color: #000;
}

.top-news__button .button:hover {
  border: rem(1) solid $black2;
}

.top-news__button .button:hover span {
  color: $white;
}

.button-animation--top-news:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background:$black2;
  width: 100%;
  height: 100%;
  transition: transform .6s cubic-bezier(0.8, 0, 0.2, 1) 0s;
    transform: scale(0, 1);
	transform-origin: right top;
}

.button-animation--top-news:hover:before{
	transform-origin:left top;
	transform:scale(1, 1);
}