@use 'global'as *;


.top-works__layout {
  padding-top: rem(127);
  overflow: hidden;

  @include mq(md) {
    padding-top: rem(204);

  }
}

.top-works__background {
  margin: 0 calc(50% - 50vw);
  width: 100vw;
  background: linear-gradient(180deg, transparent 0%, transparent 30%, $black2 30%, $black2 100%);

  @include mq(md) {
  padding: 80px 0;
  margin-top: rem(-6);
    background: linear-gradient(90deg, transparent 0%, transparent 30%, $black2 30%, $black2 100%);
  }
}

.top-works__background--reverse {
  background: linear-gradient(180deg, transparent 0%, transparent 30%, $black2 30%, $black2 100%);
  
  @include mq(md) {
    padding: rem(100) 0;

    background: linear-gradient(90deg, $black2 0%, $black2 70%, transparent 70%, transparent 100%);
  }

}

.section-title__position--works {
  margin-bottom: rem(51);
}

.top-works__content {

  @include mq(md) {
    display: flex;
    gap: 3.1%;
    align-items: flex-start;
  }
}

.top-works__content--reverse {
  @include mq(md) {
    flex-direction: row-reverse;
  }

}

.top-works__images {
  aspect-ratio: 375/261;
  width: 100%;
  width: 100vw;
  margin-left: calc(50% - 50vw);

  @include mq(md) {
    aspect-ratio: 557/389;
    width: 50.6%;
    margin-left: unset;
  }

}

.top-works__images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.top-works__textArea {
  padding: rem(30) rem(20) rem(15);
  width: 100%;
  color: $white;
  width: 100vw;
  margin-left: calc(50% - 50vw);
  text-align: center;
  
  @include mq(md) {
    padding: 0;
    padding-top: rem(35);
    width: 46.3%;
    margin: 0 auto;
    text-align: left;
  }

}

.textArea__mainTitle {
  font-size: rem(20);
  font-weight: $regular;
  line-height: 1;
  letter-spacing: 0.05em;
  @include mq(md) {
    font-size: rem(25);
    letter-spacing: 0.02em;

  }
}

.textArea__text {
  margin-top: rem(27);
  font-size: rem(16);
  text-align: left;
  line-height: 1.45;
  letter-spacing: 0.12em;
  @include mq(md) {
    line-height: 2.19;
    margin-top: rem(43);
    letter-spacing: 0.03em;


  }

}

.textArea__button {
  margin-top: rem(27);
  @include mq(md) {
    margin-top: rem(48);


  }
}