@use 'global'as *;

.top-content {
  position: relative;
}

.top-content::before {
  content: "";
  width: 100%;
  height: rem(678);
  position: absolute;
  top: rem(117);
  left: 0;
  z-index: -999;
  background-image: linear-gradient(to right top, transparent 49.95%, $yellow 50%, $yellow calc(50.05% + 1px), transparent calc(50.1% + 1px));

  @include mq(md) {
    width: 94.6875%;
    height: rem(1212);
    top: rem(85);
    left: 0;
  
  }
}

.top-content__layout {
  padding-top: rem(152);

  @include mq(md) {
    padding-top: rem(195);

  }
}

.section-title__position--content {
  margin-bottom: rem(47);
}

.top-content__container {
  // overflow: hidden;
}

.top-content__wrapper {
}

.top-content__lists {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0;
  width: 100vw;
  margin: 0 calc(50% - 50vw);
  max-width: 100%;
  padding-top: rem(4);

  @include mq(md) {
    grid-template-columns: repeat(4, 1fr);
    padding-top: 0;
  }
}

.top-content__list {
  width: 49.8vw;
  margin: 0 auto;
  aspect-ratio: 188/ 168;

  @include mq(md) {
    width: 24.8vw;
    aspect-ratio: 1/1;
  }
}

.top-content__link {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white;
  font-size: rem(20);
  letter-spacing: 0.1em;
  
  @include mq(md) {
    font-size: rem(25);
    letter-spacing: 0.02em;
    line-height: 1.5;
  }
}

a.top-content__link:hover::before {
  content: "";
  position: absolute;
  background-color: rgba($white, 0.6);
  bottom: 0;
  height: 100%;
  left: 0;
  // margin: auto;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  transition: all .3s;
}

.top-content__list--background01 {
  background-image: url(../../codeups/images/top/content01.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}

.top-content__list--background02 {
  background-image: url(../../codeups/images/top/content02.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.top-content__list--background03 {
  background-image: url(../../codeups/images/top/content03.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.top-content__list--background04 {
  background-image: url(../../codeups/images/top/content04.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}