@use "global" as *;


.top-blog__card-list {
  // display: flex;
  // flex-wrap: wrap;
  display: grid;
  grid-template-columns: 1fr;
  gap: rem(25);
  padding-top: rem(17);
  margin-top: rem(46.5);

  @include mq(md) {
    padding-top: 0;
    grid-template-columns: repeat(3, 1fr);

  }
}

// .top-card-list__item {
//   max-width: calc( 33.3333% - 2.5rem * 2 / 3);
//   width: 100%;
// }

// .top-card-list__item + .top-card-list__item {
//   margin-left: 2.5rem;
// }

// .top-card-list__item:nth-child(3n + 1){
//   margin-left: 0;
// }

// .top-card-list__item:nth-child(n + 4){
//   margin-top: 2.5rem;
// }
