@use "global"as *;


.button {
  text-align: center;
  display: inline-block;
  font-size: rem(20);
  font-weight: $regular;
  color: $white;
  width: rem(335);
  text-transform: uppercase;
  border: 1px solid $white;
  background: $black2;
  line-height: 1;
  padding: rem(14) 0;
  letter-spacing: 0.1em;

  @include mq(md) {
  font-size: rem(16);
  line-height: 1.2;
    width: rem(360);
    padding: rem(19) 0;
  }

}