@use 'global'as *;

.footer-nav {
  text-align: center;
  margin-top: rem(8);

  @include mq(md) {
    margin-left: auto;
  }

}

.footer-nav__items {
  display: inline-grid;
  grid-template-columns: repeat(1, 1fr);
  gap: rem(12);

  // display: flex;
  // flex-wrap: wrap;
  @include mq(md) {
    gap: rem(32);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

}

.footer-nav__item a {
  position: relative;
  display: block;
  width: 100%;
  color: $white;
  font-size: rem(16);
  font-weight: $regular;
  line-height: 1.25;
  letter-spacing: 0.075em;
}

.footer-nav__item a::after {
  content: '';
  position: absolute;
  bottom: rem(-5);
  left: 10%;
  width: 80%;
  height: rem(1);
  background:$yellow2;
  transition: all .3s;
  transform: scale(0, 1);
  transform-origin: center top;
}

.footer-nav__item.current a::after,
.footer-nav__item a:hover::after {
  transform: scale(1, 1);
}