@use 'global'as *;

.footer {
  background-color: $black;
}

.footer__layout {
  padding-top: rem(48);
  padding-bottom: rem(70);

  @include mq(md) {
    padding-top: rem(32);
    padding-bottom: rem(16);
  }
}

.footer__inner {
  // padding: 0 rem(120);
  padding: 0;
  margin: auto;
  
  @include mq(md) {
    padding: 0 rem(32);
    display: flex;
    align-items: center;
    justify-content: space-between;  
  }

}

.footer__logo {
  width: rem(70);
  margin: 0 auto;
  // position: relative;
  @include mq(md) {
    margin: 0;
  }

}

.footer__copyright {
  text-align: center;
  margin-top: rem(32);
  color: $white;
  font-size: rem(11);
  font-weight: $regular;
  line-height: 1;
  letter-spacing: 0.10909091em;
  @include mq(md) {
    margin-top: rem(83);
    font-size: rem(15);
    letter-spacing: 0.18em;
  }

}

#footer__page-top a {
	display: flex;
	justify-content:center;
	align-items:center;
	background:$white;
	width: rem(45);
	height: rem(45);
	color: $white;
	text-align: center;
	text-decoration: none;
	transition:all 0.3s;
  
}

#footer__page-top a:hover{
	background: $black2;
}

#footer__page-top {
	position: fixed;
	right: rem(20);
	bottom: rem(52);
	z-index: 2;
	opacity: 0;
	transform: translateY(100px);
  @include mq(md) {
    right: rem(31);
    bottom: rem(32);
    
  }
}

#footer__page-top.UpMove{
	animation: UpAnime 0.5s forwards;
}
@keyframes UpAnime{
  from {
    opacity: 0;
	transform: translateY(100px);
  }
  to {
    opacity: 1;
	transform: translateY(0);
  }
}

#footer__page-top.DownMove{
	animation: DownAnime 0.5s forwards;
}
@keyframes DownAnime{
  from {
  	opacity: 1;
	transform: translateY(0);
  }
  to {
  	opacity: 1;
	transform: translateY(100px);
  }
}

.footer__page--arrow {
  height: rem(20);
  width: rem(20);
  border-top: rem(2) solid $black2;
  border-right: rem(2) solid $black2;
  transform: translateY(20%) rotate(-45deg);

}

#footer__page-top a:hover .footer__page--arrow {
  border-top: rem(2) solid $white;
  border-right: rem(2) solid $white;
}