@use "global" as *;

.header__layout {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.header {
  background-color: rgba($color: $black, $alpha: .5);
  height: rem(50);
  width: 100%;
  transition: .3s;
}

.header.headerColorScroll {
  background-color: $black;
  transition: .3s;
}

.header__inner {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 rem(22);
  @include mq(md){
    padding-left: rem(32);
    padding-right: 0;
  }
}

.header__logo {
  width: rem(70);
  position: relative;
  z-index: 9999;
  @include mq(md){
  width: rem(95);
}
}
