@use "global" as *;

.pc-nav {
  height: inherit;
  display: none;
  @include mq(md){
    display: block;
  }
}

.pc-nav__items {
  height: inherit;
  display: flex;
  align-items: center;
}

.pc-nav__item {
  height: inherit;
}

.pc-nav__item a {
  position: relative;
  height: inherit;
  color: #fff;
  display: grid;
  place-items: center;
  padding: 0 rem(20);
  font-size: rem(16);
  font-weight: $regular;
}

.pc-nav__item:not(:last-child) a::after {
  content: '';
  position: absolute;
  bottom: rem(8);
  left: 10%;
  width: 80%;
  height: rem(1);
  background:$yellow2;
  transition: all .3s;
  transform: scale(0, 1);
  transform-origin: center top;
}

.pc-nav__item.current a::after,
.pc-nav__item a:hover::after {
  transform: scale(1, 1);
}

.pc-nav__item.pc-nav__item--white {
  margin-left: rem(16);
}

.pc-nav__item.pc-nav__item--white a {
  background-color: $white;
  color: $black2;
  padding: 0 rem(37);
}

.pc-nav__item.pc-nav__item--white a:hover {
  background-color: $black2;
  color: $white;
  transition: ease .3s;
}

