@use "global"as *;

.section-title {
  position: relative;
}

.section-title__main {
  text-align: center;
  color: $white;
  font-weight: $regular;
  font-size: rem(20);
  letter-spacing: 0.1em;
  line-height: 1;

  @include mq(md) {
    font-size: rem(30);
    font-weight: $regular;
    letter-spacing: 0.01em;
  }
}

.section-title__sub {
  display: block;
  color: rgba($color: $yellow, $alpha: .27);
  font-family: $english-font-family;
  font-weight: $regular;
  text-transform: capitalize;
  font-size: rem(50);
  letter-spacing: 0.04em;
  line-height: 1;

  position: absolute;
  top: -209%;
  left: 50%;
  transform: translateX(-50%);

  @include mq(md) {
    font-size: rem(110);
    letter-spacing: 0.01818182em;
    line-height: calc(158 / 110);

    top: -158%;
    left: 24%;
  }
}

.section-title__sub--reverse {
  position: absolute;
  top: -213%;
  left: 50%;
  transform: translateX(-50%);

  @include mq(md) {
    top: -185%;
    // left: unset;
    left: 79.5%;
    // right: -16%;
  }
}

.section-title__sub--overview {
  @include mq(md) {
    top: -185%;
  }
}

.section-title__sub--contact {
  letter-spacing: 0.025em;
  @include mq(md) {
    top: -300%;
  }
}

// .section-title__position {
//   position: relative;
//   margin-bottom: rem(45);
// }

// .section-title__position--content {
//   margin-bottom: rem(47);
// }

// .section-title__position--works {
//   margin-bottom: rem(51);
// }

// .section-title__position--blog {
//   @include mq(md) {
//   margin-bottom: rem(46.5);
// }
// }

// .section-subtitle__position--blog {
//   @include mq(md) {
//     top: -218%;
//   }
// }

// .section-title__position--contact {
//   letter-spacing: 0.07em;
//   margin-bottom: rem(20);
//   @include mq(md) {
//     margin-bottom: rem(26);
//   }
// }