@use "global"as *;

.section-title__container {
  position: relative;
}

.section-title {
  text-align: center;
  color: $white;
  font-weight: $regular;
  font-size: rem(20);
  letter-spacing: 0.1em;
  line-height: 1;

  @include mq(md) {
    font-size: rem(30);
    font-weight: $regular;
    letter-spacing: 0.01em;
  }
}

.section-title__position {
  // position: relative;
  // margin-bottom: rem(45);
}

.section-subtitle {
  display: block;
  color: rgba($color: $yellow, $alpha: .27);
  font-family: $english-font-family;
  font-weight: $regular;
  text-transform: capitalize;
  font-size: rem(50);
  letter-spacing: 0.04em;
  line-height: 1;

  @include mq(md) {
    font-size: rem(110);
    letter-spacing: 0.01818182em;
    line-height: calc(158 / 110);
  }
}

.section-subtitle__position {
  position: absolute;
  top: -209%;
  left: 20%;
  z-index: -2;

  @include mq(md) {
    top: -158%;
    left: 0;

  }
}

.section-subtitle__position--reverse {
  position: absolute;
  top: -213%;
  // left: 25.8%;
  right: 0;
  left: 0;
  z-index: -2;
  @include mq(md) {
    top: -205%;
    // left: 68.5%;
    left: unset;

  }
}